body {
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hero Section */

.hero-section {
  background: url(../img/HeroSectionBg.jpg) no-repeat center/cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  color:white;
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
}

/* X-small */
@media (max-width: 576px) {
  .hero-section {
    height: 800px;
  }
  .hero-title {
    font-size: 40px;
    text-align: center;
  }
}


