
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

figure {
  img {
    vertical-align: top;
  }
}