@import url("https://fonts.googleapis.com/css2?family=Fuggles&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

figure img {
  vertical-align: top;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0px 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-200 {
  padding-top: 200px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-200 {
  padding-bottom: 200px;
}

.text-center {
  text-align: center;
}

.top-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  position: relative;
  z-index: 10;
  height: 50px;
  line-height: 50px;
  padding: 0px 10px;
}

.logo {
  font-size: 25px;
  color: black;
  font-weight: 700;
  letter-spacing: -1px;
  height: 100%;
  font-style: italic;
  display: inline-block;
}
.logo img {
  height: 40px;
  vertical-align: middle;
}

.social-icons {
  float: right;
}

.social-media-icon {
  display: inline-block;
}
.social-media-icon img {
  vertical-align: middle;
  margin-left: 10px;
}

.author {
  display: none;
}
@media screen and (min-width: 768px) {
  .author {
    display: inline-block;
  }
}

.hero {
  height: 100vh;
  max-height: 800px;
  position: relative;
}
.hero img {
  width: 100%;
}

.bg-img {
  position: relative;
  height: 100%;
}
.bg-img img {
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 991px) {
  .bg-img img {
    object-fit: cover;
    background-position: center;
  }
}
.bg-img .bg1 {
  height: 100%;
  object-fit: cover;
  background-position: center;
}
.bg-img .bg4 {
  z-index: 9;
}
.bg-img .bg6 {
  z-index: 10;
}

.hero-content {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.primary-heading {
  font-size: 65px;
}
@media screen and (max-width: 767px) {
  .primary-heading {
    font-size: 45px;
  }
}

.primary-text {
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .primary-text {
    font-size: 18px;
  }
}

.primary-btn {
  height: 40px;
  width: 200px;
  border-radius: 10px;
  border: none;
  background-color: #151D22;
  color: white;
  font-size: 16px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
.primary-btn:hover {
  background-color: white;
  color: #151D22;
  transition: all 0.5s ease;
  box-shadow: 3px 3px 10px wheat;
}

.purpose {
  min-height: 600px;
  background-color: black;
  position: relative;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px;
}
.purpose .title {
  font-family: "Fuggles", cursive;
  color: white;
  font-size: 60px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .purpose .title {
    font-size: 40px;
  }
}
.purpose .content {
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
}
@media screen and (max-width: 767px) {
  .purpose .content {
    font-size: 18px;
  }
}
@media screen and (max-width: 575px) {
  .purpose .content br {
    display: none;
  }
}

.services {
  font-size: 0;
  text-align: center;
}
.services li {
  font-size: initial;
  height: 200px;
  max-width: 400px;
  display: block;
  margin: 30px auto 0px;
  border-radius: 10px;
}
@media screen and (min-width: 992px) {
  .services li {
    display: inline-block;
    width: calc((100% - 60px) / 3);
    margin-left: 30px;
  }
  .services li:first-child {
    margin-left: 0px;
  }
}