
.hero {
  height: 100vh;
  max-height: 800px;
  position: relative;

  @include media-upto(sm) {
    height:calc(100vh - 90px);
  }

  img {
    width: 100%;
  }
}

.bg-img {
  position: relative;
  height: 100%;

  img {
    position: absolute;
    bottom: 0;

    @include media-upto(lg) {
      object-fit: cover;
      background-position: center;
    }
  }

  .bg1 {
    height: 100%;
    object-fit: cover;
    background-position: center;
  }

  .bg4 {
    z-index: 9;
    pointer-events: none;
  }
  .bg6 {
    z-index: 10;
    pointer-events: none;
  }
}

.hero-content {
  position: fixed;
  top:0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.primary-heading {
  font-size: 65px;

  @include media-upto(md) {
    font-size: 45px;
  }
}

.primary-text {
  font-size: 20px;

  @include media-upto(md) {
    font-size: 18px;
  }
}

.primary-btn {
  height: 40px;
  width: 200px;
  border-radius: 10px;
  border: none;
  background-color: #151D22;
  color: white;
  font-size: 16px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: #151D22;
    transition: all 0.5s ease;
    box-shadow: 3px 3px 10px wheat;
  }
}





// Purpose

.purpose {
  min-height: 600px;
  background-color: black;
  position: relative;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px;

  .title {
    font-family: $secondary-heading;
    color:white;
    font-size: 60px;
    text-align: center;  

    @include media-upto(md) {
      font-size: 40px;
    }
  }

  .content {
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 25px;

    @include media-upto(md) {
      font-size: 18px;
    }

    br {
      @include media-upto(sm) {
        display: none;
      }
    }
  }
}

.services {
  font-size: 0;
  text-align: center;
  
  li {
    font-size: initial;
    height: 200px;
    max-width: 400px;
    display: block;
    margin: 30px auto 0px;
    border-radius: 10px;
    // background-color: whitesmoke;

    @include media(lg) {
      display: inline-block;
      width: calc((100% - 60px) / 3);
      margin-left: 30px;

      &:first-child {
        margin-left: 0px;
      }
    }

    img, iframe {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border:0;
      pointer-events: none;
    }

  }
}